.van-nav-bar {
  background-color: #3196fa;
}
.van-nav-bar .van-nav-bar__title {
  color: #fff;
}
#app {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.container .logo {
  background: url("../assets/logo.png") no-repeat;
  background-size: cover;
  width: 100px;
  height: 30px;
}
.container .search-btn {
  background-color: #5babfb;
  width: 80px;
}
.index {
  height: 100%;
  padding-top: 46px;
}
.index .van-tabs {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.index .van-tabs .van-tabs__wrap {
  position: fixed;
  top: 46px;
  left: 0px;
  right: 30px;
}
.index .van-tabs .van-tabs__wrap .van-tabs__line {
  width: 30px !important;
  background-color: #3296fa;
  bottom: 20px;
}
.index .van-tabs .van-tabs__content {
  flex: 1;
  overflow: hidden;
  padding-bottom: 4rem;
}
.index .van-tabs .van-tabs__content .van-tab__pane {
  height: 100%;
}
.index .van-tabs .van-tabs__content .van-tab__pane .scroll-wrapper {
  overflow: auto;
  height: 100%;
}
.index .bar-btn {
  position: fixed;
  right: 5px;
  top: 57px;
  display: flex;
  align-items: center;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1;
}
.index .bar-btn .van-icon-wap-nav {
  font-size: 20px;
}
